li a {
    color: green;
}

body {
    background: white url("images/background.png");
}

.title_div {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}